{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2020",
    "baseUrl": ".",
    "paths": {
      "@zanafleet/contracts": ["packages/contracts/dist/src"],
      "@zanafleet/contracts/*": ["packages/contracts/dist/src/*"],
      "@zanafleet/domain": ["packages/domain/dist/src"],
      "@zanafleet/domain/*": ["packages/domain/dist/src/*"],
      "@zanafleet/utils": ["packages/utils/dist/src"],
      "@zanafleet/utils/*": ["packages/utils/dist/src/*"],
      "@api/*": ["apps/api/src/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "noInterop": false
  },
  "sourceMaps": true,
  "exclude": [
    "node_modules",
    "dist",
    "apps/web"
  ]
}
