{
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "@zanafleet/contracts": ["packages/contracts/src"],
      "@zanafleet/contracts/*": ["packages/contracts/src/*"],
      "@zanafleet/domain": ["packages/domain/src"],
      "@zanafleet/domain/*": ["packages/domain/src/*"],
      "@zanafleet/utils": ["packages/utils/src"],
      "@zanafleet/utils/*": ["packages/utils/src/*"],
      "@api/*": ["apps/api/src/*"]
    }
  }
}
